html, body, svg {
	padding:0;
	margin:0;
	font-family: Liberation sans, sans-serif;
}

* {
	touch-action: pan-x pan-y;
}

body {
	background-color: #f2f2f2;
}

#canvas {
	transform-origin: 0 0;
	background-color: #fff;
	min-width: 100%;
}

.forErasing {
	outline: 2px solid red;
}

.selectedEl, .localSelectedEl {
	outline: 2px solid blue;
}

#board {
	position: relative;
	overflow: hidden;
}

#canvas line {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#canvas path:not(.pretty-cursor) {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#canvas text {
	font-family:"Arial", "Helvetica", sans-serif;
	user-select:none;
	-moz-user-select:none;
}

#canvas .opcursor {
	pointer-events: none;
	transition: .1s;
}

#canvas text.pretty-name {
	font-size: 12px;
}

#canvas .triangle {
	fill: none;
}
#cursor-me {
	transition: 0s;
}

#formulaToolInput, #textToolInput {
	min-width: 300px;
	max-width: min(90vw, 400px);
	padding: 20px;
	border: 2px solid black;
	position: absolute;
}

#textToolInput {
	padding: 5px;
	user-select: all;
}

#mobileWindowRect {
	outline: 3px solid dodgerblue;
	fill: none;
	transition: .2s;
}

.border-for-white{
	border: 1px solid black;
}

foreignObject {
	overflow: visible;
}

.forErasing pre {
	outline: 2px solid red;
}

.moveable-dashed {
	display: none;
}

pre {
	width: fit-content;
	width: -moz-fit-content;
	margin: 0;
	user-select: none;
}

.d-none {
	display: none;
}

.moveable-control-box {
	z-index: 0 !important;
}

.main-tool-color{
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #828282;
	border-radius: 50%;
	margin-bottom: 5px;
	margin-right: 4px;
	margin-top: 25px;
	box-sizing: border-box;
}

.main-tool{
	flex-direction: column;
	align-items: flex-end;
}

.main-tool-width{
	position: absolute;
	width: 10px;
	height: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-size: 9px;
	line-height: 11px;
	margin-right: 1px;
	margin-bottom: 10px;
    margin-top: 29px
}

.library-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	/*min-height: 100vh;*/
}

.library-row {
	display: none;
}

.library-wrapper .library-row {
	position: absolute;
	width: 772px;
	height: 461px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	margin-top: 600px;
	z-index: 5;
}

.library-title {
	max-width: 100%;
	height: 64px;
}

.library-title-template {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

.library-title-template .close-library {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 11px;
	top: 11px;
	background: #F2F2F2;
	border-radius: 10px;
	cursor: pointer;
}

.library-title-template div{
	margin: 16px 0 0 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

.library-title-geometry {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.geometry-algebra {
	position: relative;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-decoration-line: underline;
	color: #000000;
	cursor: pointer;
}

.list-items {
	width: 161px;
	min-height: 380px;
	margin-left: 14px;
}

.list-items span {
	position: absolute;
	cursor: pointer;
}

.list-items ul li:first-child {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	cursor: pointer;
}

.list-items ul li:nth-child(2n + 2) {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #828282;
	cursor:pointer;
}

.school-subjects {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-decoration-line: underline;
	color: #828282;
	cursor: pointer;
}

.library-items {
	display: flex;
	justify-content: flex-start;
}

.template-library {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 611px;
	height: 380px;
}

.geometric-figures {
	width: 110px;
	height: 110px;
	margin: 0 18px;
	cursor: pointer;
}

.geometric-figures img:hover {
	background-color: #F2F2F2;
}